<div class="ui container center-screen">
  <div class="row justify-content-center">
    <div class="col-12">
      <img src="./assets/logo.png" alt="..." class="img-thumbnail">
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-12">
      <h4>{{ activeSong?.title }}</h4>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-6 text-left">
            {{ currentTime$ | async }}
          </div>
          <div class="col-6 text-right" *ngIf="player?.duration">
            {{ durationTime }}
          </div>
        </div>
      </div>
      <input #slider class="ui container center-screen" type="range" [value]="(currentProgress$ | async)"
        (change)="onProcessChange(+slider.value)" id="customRange1" style="padding:0;">

      <br>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="playPreviousSong()"><b> {{'<<'}} </b></button>
        <button type="button" class="btn btn-primary" *ngIf="isPlaying" (click)="player.pause()">Pause</button>
        <button type="button" class="btn btn-primary" *ngIf="!isPlaying" (click)="playSong(activeSong)">Play</button>
        <button type="button" class="btn btn-primary" (click)="playNextSong()"> {{'>>'}} </button>
      </div>

    </div>
  </div>
  <audio class="ui container center-screen" #player (timeupdate)="onTimeUpdate()" (pause)="onPause()"
    (play)="onPlay()"></audio>
</div>